.content-container{
    margin: 0 10px;
}
.content-top{
    display:grid;
}

.content-top >div:nth-child(1){
    border-right: 2px solid hsl(0, 9%, 94%);
    border-collapse: collapse;
}

.content-bottom{
    border-top: 2px solid hsl(0, 6%, 94%);
    display:flex;
    justify-content:flex-end;
}

@media screen and (max-width:720px){
    .content-top {
        display: grid;
        grid-template-columns: 5fr 9fr;
    }
    .content-top>div:nth-child(3) {
         grid-area: 2 / 1 / 3 / 3;
         border-top: 2px solid hsl(0, 33%, 97%);
         padding-left: 1rem;
    }
}

@media screen and (min-width:720px){
    .content-container{
        margin:0 5%;
    }
    .content-top{
        grid-template-columns: 25% 45% 30%;
    }
    .content-top >div:nth-child(3){
        border-left: 2px solid hsl(0, 33%, 97%);
        border-collapse: collapse;
    }
}

@media screen and (min-width:960px){
    .content-container{
        margin:0 9%;
    }
}
